best1/project2/force-app/main/default/classes/project2/force-app/main/default/flows/Create_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Break</name>
        <choiceText>Break</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>feedback</name>
        <choiceText>feedback</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>feedback</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update</name>
        <choiceText>update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>updata</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes1</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <interviewLabel>Create case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create</label>
        <locationX>408</locationX>
        <locationY>57</locationY>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Update</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>create_case</name>
        <label>create case</label>
        <locationX>246</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
        <fields>
            <name>case</name>
            <choiceReferences>Update</choiceReferences>
            <choiceReferences>feedback</choiceReferences>
            <dataType>String</dataType>
            <fieldText>case</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Yes</name>
            <choiceReferences>Yes1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>create_case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Yess</name>
        <text>&lt;p&gt;Yes&lt;/p&gt;</text>
    </textTemplates>
</Flow>
