best1/project2/force-app/main/default/classes/project2/force-app/main/default/flows/Create_a_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>chose</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>constant</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <decisions>
        <name>create_an_account</name>
        <label>create an account</label>
        <locationX>357</locationX>
        <locationY>68</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>create_an_account1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_a_new_account</targetReference>
            </connector>
            <label>create an account</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula1</name>
        <dataType>String</dataType>
        <expression>{!constant}</expression>
    </formulas>
    <interviewLabel>Create a account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_a_new_account</name>
        <label>create a new account</label>
        <locationX>622</locationX>
        <locationY>80</locationY>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>contactphone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>name.lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>204</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_an_account</targetReference>
        </connector>
        <fields>
            <name>name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>contactphone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>create_account</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>chose</choiceReferences>
            <dataType>String</dataType>
            <fieldText>create-account</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text</name>
        <text>&lt;p&gt;{!constant}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>text1</name>
        <text>&lt;p&gt;Yes&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contatct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>right</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
